<header class="header">
  <!-- @include('./setting.html') -->
  <div class="header__top">
    <div class="container">
      <div class="header__top-wrapper">
        <a class="logo" href="index.html">
          <img src="./img/logo.png" alt="logo">
        </a>
        <nav class="header__menu">
          <button class="burger menu__btn" data-burger="" aria-label="Открыть меню" aria-expanded="false">
            <span class="burger__line"></span>
          </button>
          <ul class="menu-list" data-menu>
            <li class="menu-item">
              <a class="@index" href="index.html">MASÁŽE</a>
            </li>
            <li class="menu-item">
              <a class="@price" href="price.html">CENÍK</a>
            </li>
            <li class="menu-item">
              <a class="@contact" href="contact.html">KONTAKT</a>
            </li>
          </ul>
        </nav>
        <div class="header__contact">
          <a href="tel:+420777642050"> <span> +420 777 642 050</span>
            <img class="header__contact-img" src="./img/svg/phone.svg" alt="telefon">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-wrapper">
      </div>
    </div>
  </div>


</header>
